/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  background: #fcc;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}

.menu {
  background-color: #00008b;
  color: #ffffff;
  line-height: 2em;
  font-weight: bold;
  text-align: center;
}

/*.menu:hover + nav {
  display: flex;
}*/

nav {
  display: none;
  text-transform: uppercase;
  font-weight: bolder;
  justify-content: center;
  background-color: #fff0f5;
}

/*nav:hover {
  display: flex;
}*/

nav a {
  color: #ff1493;
  text-decoration: none;
  padding-right: 15px;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

  body {
    background: #cfc;
  }

  nav {
    display: flex;
  }

  nav a  {
    padding: 1em .5em;
  }
  .menu {
    display: none;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

  body {
    background: #ccf;
  }
}
